form {
  display: flex;
  flex-direction: column;
}

form label, input {
  margin: 5px 0;
}

.submit_btn {
  margin-top: 25px;
}

@media (min-width: 800px){
  form, h2 {
    width: 400px;
  }

  p {
    margin: 25px auto;
  }
}